.main-catering-page {
  overflow: hidden;
}
body {
  background: linear-gradient(180deg, #d02523 0%, #9b2220 44.72%);
}


/* .catering-main {
  background: linear-gradient(180deg, #d02523 0%, #9b2220 44.72%);
} */

.left-content {
  max-width: 62.73vw; /* Default for larger screens (1920px) */
}

/* Core styles/functionality */
.faq-sec .faq-left a:hover {
  text-decoration: none;
  /* transform: scale(1.2); */
}

.faq-sec .faq-right .accordion,
.tab__label {
  border: 0;
  background-color: transparent;
}

.tab input:checked ~ .tab__content p {
  font-weight: bold;
}

.tab input:checked ~ label {
  font-weight: bold;
}
.curywolf-catering-box {
  -webkit-border-top: 1px solid #fff;
  border-top: 1px solid #fff;
}

.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tab__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.35s;
}

.tab input:checked ~ .tab__content {
  max-height: 10rem;
}

/* Visual styles */
.accordion {
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.accordion .tab:first-child .tab__label {
  padding-top: 0;
}

.tab {
  border-bottom: 1px solid #ffffff;
}

.tab:last-child {
  border-bottom: 0;
}

.tab__label,
.tab__close {
  display: flex;
  color: white;
  cursor: pointer;
}

.tab__label {
  justify-content: space-between;
  padding: 15px 0;
  font-size: calc(14px + (14 - 14) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(20px + (20 - 20) * ((100vw - 320px) / (1920 - 320)));
  font-family: 'Gotham-Book';
  font-weight: 400;
  align-items: center;
  column-gap: 30px;
}

.tab__label::after {
  content: '';
  width: 20px;
  height: 14px;
  text-align: center;
  transition: all 0.35s;
  background: url('https://cdn.shopify.com/s/files/1/0661/7595/9260/files/down-arrow.svg?v=1719579104')
    no-repeat center / contain;
}

.tab input:checked + .tab__label::after {
  transform: rotate(180deg);
}
.inner-wolf-bestell-wrap .inner-wolf-bestell{
  transform: scale(0.87);
  transform-origin: top;
}
.tab__content p {
  margin: 0;
  padding: 0px 30px 25px 0px;
}

.tab__close {
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}
.inner-wolf-bestell .left-content h1 {
 text-align: center;}

div#faq {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fit, min(100%, 30rem));
  min-height: 100vh;
  place-items: start;
  gap: 1rem;
  margin: 0;
  padding: 1rem;
  color: black;
}

.catering-inner {
  background: linear-gradient(180deg, #d02523 0%, #9b2220 44.72%);
}

.inner-wolf-bestell {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  align-content: center;
  flex-direction: column;
}
.inner-wolf-bestell .s-wrap .img-one{
padding-bottom: 20px;
}

.inner-wolf-bestell .s-wrap {
  max-width: 1024px;
  position: relative;
}



.inner-wolf-bestell h3 {
  color: #fff;
  font-family: 'Gotham';
  margin: 0 0 0px 0;
  font-size:20px;
  font-weight: bold;
  text-align: center;
  line-height: 22px;
  max-width: 68rem;
}
.inner-wolf-bestell h4 {
  color: #fff;
    font-family: 'BertholdBlock';
    max-width: 62rem;
    margin: 0 0 0px 0;
    font-size: 3.2rem;
    font-weight: 400;
    text-align: center;
    line-height: 3.2rem;
    margin-top: 30px;
}
.inner-wolf-bestell .s-wrap .c-s-image-section {
  display: flex;
  justify-content: center;
  max-width: 1194px;
  margin: 0px auto 35px;
  position: relative;
  z-index: 1;
  gap: 20px;
}
.inner-wolf-bestell .s-wrap img.naturlich-image {
  width: 116.88px;
  height: 116.18px;
  position: absolute;
  right: 0px;
  bottom: -22px;
  bottom: -86px;
}

.inner-wolf-bestell .s-wrap .img-big-wrap:nth-child(1) .img-one {
  z-index: 1;
  transform: rotate(-9deg);
  margin-top: -21px;
  margin-left: -9px;
}
.inner-wolf-bestell .s-wrap  .img-big-wrap:nth-child(1) {
  z-index: 9999;
}
.inner-wolf-bestell .s-wrap .img-big-wrap:nth-child(2) {
  z-index: 9;
}
.inner-wolf-bestell .s-wrap .img-big-wrap:nth-child(3) .img-one {
  transform: rotate(-10deg);
  margin-top: -40px;
  z-index: -1;
}

.inner-wolf-bestell a.yellow-btn {
  text-align: center;
}

.inner-wolf-bestell a.yellow-btn:hover {
  text-decoration: none;
}

.brandenburg {
  display: flex;
  padding-bottom: 150px;
}

.brandenburg .brand-left {
  width: 65%;
}

.brandenburg .brand-right {
  width: 35%;
}

.brandenburg .brand-right .b-btn-wrap {
  padding-bottom: 80px;
}

@media (max-width: 767px) {
   .inner-wolf-bestell .s-wrap .img-big-wrap {
    width:50%;
    z-index: 10;
}

  .inner-wolf-bestell .s-wrap .img-big-wrap:nth-child(3) .img-one {
    margin-top: 0px; 
    transform: translateY(19px) rotate(10deg);
    z-index: 10;
    padding-bottom: 9px;

}  
.inner-wolf-bestell .s-wrap .c-s-image-section {
  gap: 0px;
  flex-wrap: wrap;
}
}
@media screen and (max-width: 768px) {
  .inner-wolf-bestell h4 {
    font-size: 2rem;
    line-height: 2rem;
    margin-top: 0px;
  }
  .inner-wolf-bestell .s-wrap .c-s-image-section {
    margin: 70px auto 90px;
  }
  .inner-wolf-bestell h3 {
    max-width: 22rem;
}

  }
  @media screen and (max-width: 400px) {
    .inner-wolf-bestell h4 {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

}
.brand-left h2 {
  font-size: 60px;
  line-height: 50px;
  color: #fff;
  font-family: 'BertholdBlock';
  font-weight: 400;
  margin-bottom: 57px;
}

.brand-left p {
  font-size: 20px;
  line-height: 24px;
  font-family: 'Gotham-Book';
  font-weight: 400;
  max-width: 910px;
}

.c-brand-content p span,
.brandenburg .brand-right p {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 25px;
  display: block;
}

.c-brand-content p:nth-child(even) {
  padding-bottom: 50px;
}

.c-brand-content p {
  font-size: 18px;
  line-height: 21px;
  font-family: 'Gotham-Book';
  font-weight: 400;
}

.c-brand-content {
  padding: 88px 0;
  max-width: 910px;
}

.b-btn-wrap a {
  text-align: center;
}

.b-btn-wrap a:hover {
  text-decoration: none;
  transform: scale(1.2);
}

.c-brand-content p:last-child {
  padding-bottom: 0;
}

.img-big-wrap {
  position: relative;
  height: auto;
  width: calc(100% / 3);
}

.img-one {
  width: 100%;
  background: #fff;
  position: relative;
  height: 100%;
  box-shadow: 0px 4px 20px 0px #00000040;
  padding: 10px 10px 5px 10px;
  transform: rotate(7deg);
}

.inner-content {
  padding-top: 15px;
  padding-bottom: 15px;
}

.img-one:before {
  content: '';
  position: absolute;
  top: -50px;
  background: url(/app/assets/pushpin-2.svg) no-repeat center / contain;
  left: 0px;
  right: 0;
  width: 60px;
  height: 94px;
  margin: 0 auto;
  background-size: 100%;
  transform: rotate(8deg);
  z-index: 9;
}

.inner-white-box {
  padding: 0;
  margin-top: 0px;
  overflow: hidden;
}

.img-one img {
  width: 100%;
  height: 310px;
  transition: 0.3s ease;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
}

.white-box-content {
  font-size: 30px;
  line-height: 70px;
  font-family: 'BertholdBlock';
  text-align: center;
}

.reference {
  padding: 40px 0 40px;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
}

.reference h3 {
  font-size: calc(20px + (25 - 20) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(25px + (29 - 25) * ((100vw - 320px) / (1920 - 320)));
  color: #fff;
  font-family: 'BertholdBlock';
  margin: 0 0 30px 0;
}

.ref-wrap {
  display: flex;
  justify-content: space-between;
  /* clear: both; */
  gap: 85px;
}

.ref-box {
  max-width: 321px;
}

.ref-box p {
  font-family: 'Gotham-Book';
  font-weight: 400;
  height: 100px;
}

.ref-title h4 {
  font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(22px + (24 - 22) * ((100vw - 320px) / (1920 - 320)));
  font-family: 'BertholdBlock';
  color: #fff;
  margin-bottom: 0;
  color: #fede03;
}

.ref-title {
  margin-top: 30px;
}

.wolf-logo {
  display: flex;
  padding: 50px 0;
  border-bottom: 1px solid #fff;
}

.wolf-logo .w-left-content {
  width: 45%;
}

.wolf-logo .w-right-logo {
  width: 55%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.inner-wolf-bestell .right-logo {
  width: 100%;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 80px;
}

.logo-box {
  width: calc(100% / 5);
  /* margin-bottom: 50px; */
}

.logo-box img {
  max-height: 144px;
}
.inner-wolf-bestell-wrap{
  min-height: calc(100vh - 281px);
  display: grid;
    place-items: center;
    overflow: hidden;
    margin-top: -45px;
}
.wolf-logo .w-left-content h3 {
  font-size: calc(25px + (70 - 25) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(25px + (70 - 25) * ((100vw - 320px) / (1920 - 320)));
  color: #fff;
  font-family: 'BertholdBlock';
  margin: 0 0 15px 0;
}

.wolf-logo .w-left-content p {
  font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(18px + (20 - 18) * ((100vw - 320px) / (1920 - 320)));
  font-family: 'BertholdBlock';
  color: #fff;
  margin-bottom: 10px;
}

.wolf-logo .w-left-content svg {
  width: 39px;
  height: 35px;
}

.faq-sec {
  display: flex;
  padding: 50px 0;
}

.faq-sec .faq-left {
  width: 45%;
}

.faq-sec .faq-left h3 {
  margin: 0;
  color: #fff;
  font-family: 'BertholdBlock';
  margin-bottom: 25px;
}

.faq-sec .faq-right {
  width: 55%;
}

.faq-sec .faq-left a {
  text-align: center;
}

.curywolf-catering-box {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 500px;

  justify-self: center;
  max-width: 1350px;
  margin: 0 auto;
}

.img-one .inner-content p {
  color: #000;
  text-align: center;
  font-size: calc(18px + (22 - 18) * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(18px + (28 - 18) * ((100vw - 320px) / (1920 - 320)));
  font-family: 'BertholdBlock';
}

.curywolf-catering-box .img-big-wrap:nth-child(1) {
  z-index: initial;
}

.img-big-wrap a:hover {
  text-decoration: none;
}

.img-big-wrap:nth-child(1) .img-one {
  transform: rotate(-7deg);
}

.curywolf-catering-box .img-big-wrap a {
  display: block;
}

.curywolf-catering-box .img-big-wrap:nth-child(1) a {
  transform: translate(-3%, 1%);
}

.curywolf-catering-box .img-big-wrap:nth-child(2) .img-one {
  transform: rotate(5deg);
}

.curywolf-catering-box .img-big-wrap:nth-child(2) {
  z-index: 1;
}

.curywolf-catering-box .img-big-wrap:nth-child(2) a {
  transform: translate(-8%, 62%);
  z-index: 9;
}

.curywolf-catering-box .img-big-wrap:nth-child(3) a {
  transform: translate(-24%, 0%);
  z-index: 9;
}

.curywolf-catering-box .img-big-wrap:nth-child(3) .img-one {
  transform: rotate(-13deg);
}

.curywolf-catering-box .img-big-wrap:nth-child(3) {
  z-index: initial;
}

.curywolf-catering-box .img-big-wrap:nth-child(4) a {
  transform: translate(10%, 28%);
}

.curywolf-catering-box .img-big-wrap:nth-child(4) .img-one {
  transform: rotate(-5deg);
}

.curywolf-catering-box .img-big-wrap:nth-child(5) a {
  transform: translate(-7%, 89%);
}

.curywolf-catering-box .img-big-wrap:nth-child(5) .img-one {
  transform: rotate(4deg);
}

.curywolf-catering-box .img-big-wrap:nth-child(6) a {
  transform: translate(-13%, 30%);
}

.curywolf-catering-box .img-big-wrap:nth-child(6) .img-one {
  transform: rotate(-9deg);
}

.curywolf-catering-box .img-big-wrap:nth-child(7) a {
  transform: translate(84%, 17%);
  z-index: 9;
}

.curywolf-catering-box .img-big-wrap:nth-child(7) .img-one {
  transform: rotate(9deg);
}

.more-img-text {
  display: none;
}

.curywolf-catering-box .img-big-wrap a:hover .inner-content p {
  color: rgba(168, 10, 21, 1);
}

.curywolf-catering-box .img-big-wrap:nth-child(2) .img-one:before,
.curywolf-catering-box .img-big-wrap:nth-child(3) .img-one:before,
.curywolf-catering-box .img-big-wrap:nth-child(5) .img-one:before {
  background: url(/app/assets/pushpin.svg) no-repeat center / contain;
  width: 60px;
}

.inner-wolf-bestell .right-logo img {
  width: 11.978rem;
  height: 11.186rem;
  position: absolute;
  left: -90px;
  top: -15px;
}

.curywolf-catering-box .img-big-wrap .img-one img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.c-bottom-btn {
  margin-bottom: 40px;
  margin-top: 20px;
}

.curywolf-catering-box .img-big-wrap:nth-child(6) a {
  transform: translate(-13%, 124%);
}
.curywolf-catering-box .img-big-wrap:nth-child(6) .img-one {
  transform: rotate(1deg);
}
.curywolf-catering-box .img-big-wrap:nth-child(5) a {
  transform: translate(96%, 20%);
  /* / z-index: 9999999999; / */
}
.curywolf-catering-box .img-big-wrap:nth-child(5) .img-one {
  transform: rotate(350deg);
}
.curywolf-catering-box .img-big-wrap:nth-child(7) a {
  transform: translate(-26%, 11%);
  z-index: 99;
}
.curywolf-catering-box .img-big-wrap:nth-child(7) .img-one {
  transform: rotate(345deg);
}

@media (min-width: 1921px) {
  .inner-wolf-bestell{
    gap: 20px;
  }
  /* .inner-wolf-bestell .s-wrap{
    max-width: 1170px;
  } */
  /* .inner-wolf-bestell h4{
    line-height: 2.8rem;
    font-size: 2.8rem;
    max-width: 50rem;
  } */
}
@media screen and (min-device-width: 4479px) { 
  .inner-wolf-bestell-wrap .inner-wolf-bestell {
    transform: scale(1.1) !important;
    transform-origin: 0% 90%!important;
}
  .inner-wolf-bestell-wrap {
    margin-top: -258px;
  }
}
@media screen and (min-width: 2560px) {
  .container {
    max-width: 3000px!important;
  }
  .inner-wolf-bestell .right-logo img {
    width: 9.978rem;
    height: 9.186rem;
    position: absolute;
    left: -92px;
    top: 55px;
}

  .inner-wolf-bestell h3 {
    color: #fff;
    font-family: "Gotham";
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    line-height: 34px;
    max-width: 76rem;
}
.inner-wolf-bestell-wrap {
  padding-bottom: 100px;
}
.inner-wolf-bestell .s-wrap {
    max-width: 2000px;
    position: relative;
}
.inner-wolf-bestell .s-wrap .c-s-image-section {
    display: flex;
    justify-content: center;
    max-width: 1250px;
    margin: 0 auto 35px;
    position: relative;
    z-index: 1;
    gap: 20px;
}
.inner-wolf-bestell .left-content h1{
  font-size: calc(12px + (95 - 30)*((100vw - 320px) / (1920 - 320)));
  line-height: calc(14px + (95 - 40)*((100vw - 320px) / (1920 - 320)));
  margin: 0px;
}
.inner-wolf-bestell-wrap .inner-wolf-bestell {
  transform: scale(0.87);
  transform-origin: top;
  border-bottom: 1px solid #fff;
}
.food-decorative-garland {
  margin-top: -210px !important;
}
.inner-wolf-bestell h4 {
    color: #fff;
    font-family: "BertholdBlock";
    max-width: 58rem;
    margin: 60px 0 0;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    line-height: 3.2rem;
}
.inner-wolf-bestell .s-wrap img.naturlich-image {
  width: 170px;
  height: 170px;
  bottom: -22px;
  bottom: -100px;
}
.curywolf-catering-box {
  -webkit-border-top: none;
  border-top: none;
}
}
@media screen and (max-width: 2240px) and (min-width: 1920px) {
  .inner-wolf-bestell .left-content h1{
    font-size: calc(12px + (95 - 30)*((100vw - 320px) / (1920 - 320)));
    line-height: calc(12px + (95 - 40)*((100vw - 320px) / (1920 - 320)));
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .inner-wolf-bestell {
    gap: 5px;
}
.inner-wolf-bestell .right-logo img {
  width: 7.978rem;
  height: 7.186rem;
  left: -13px;
  top: 43px;
}
.inner-wolf-bestell .s-wrap img.naturlich-image {
  width: 104.88px;
  height: 104.18px;
  bottom: -113px;
  right: 0px;
}
.inner-wolf-bestell .s-wrap {
  max-width: 800px;}
.inner-wolf-bestell h4 {
  max-width: 40rem;
  font-size: 2.2rem;
  line-height: 2.2rem;
}
}
@media screen and (max-width: 2048px) and (min-width: 1920px)  {
  .curywolf-catering-box {
    max-width: 1000px;
    justify-content: center;
    padding-bottom: 390px;
    border-top: 1px solid #fff;
    padding-top: 70px;
  }
  .inner-wolf-bestell .left-content h1 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px; 
    font-size: calc(18px + (80 - 30)*((100vw - 320px) / (1920 - 320)));
    line-height:calc(20px + (80 - 40) * ((100vw - 320px) / (1920 - 320)));
}
.inner-wolf-bestell h3 {
  max-width: 58rem;
}
.inner-wolf-bestell .s-wrap {
  max-width: 800px;
}
.inner-wolf-bestell h4 {
  max-width: 35rem;
  font-size: 1.6rem;
  line-height: 1.6rem;
}
  .main-catering-page .food-decorative-garland{
    margin-top: -110px !important;
  }
  .inner-wolf-bestell .right-logo img {
    width: 7.978rem;
    height: 7.186rem;
    left: -40px;
    top: 37px;
  }
  /* .inner-wolf-bestell .s-wrap img.naturlich-image {
    bottom: -25px;
} */
}
@media (max-width: 1919px) {
  .curywolf-catering-box {
    max-width: 1000px;
    justify-content: center;
    padding-bottom: 390px;
    border-top: 1px solid #fff;
    padding-top: 70px;
  }
  .inner-wolf-bestell {
    gap: 10px;
}
  .img-big-wrap {
    width: calc(100% / 3 - 30px);
  }

}
@media (max-width: 1680px) {
  .main-catering-page .food-decorative-garland {
    margin-top: -115px ;
}
.inner-wolf-bestell-wrap{
  margin-top: 0px;
}
.inner-wolf-bestell .s-wrap .img-one {
  padding-bottom: 10px;
}
.inner-wolf-bestell .s-wrap .c-s-image-section {
  margin: 0px auto 20px;
}
.inner-wolf-bestell .right-logo img {
  width: 5.978rem;
  height: 6.186rem;
  left: 76px;
  top: 32px;
}
.inner-wolf-bestell .s-wrap img.naturlich-image {
  bottom: -40px;
  width: 88.88px;
    height: 88.18px;
}
  .inner-wolf-bestell h3 {
    max-width: 50rem;
}
.inner-wolf-bestell {
  gap: 5px;
}
.inner-wolf-bestell h3 {
  font-size: 16px;
  line-height: 20px;
}
.inner-wolf-bestell .left-content h1 {
  font-size: calc(32px + (60 - 30)*((100vw - 320px) / (1920 - 320)));
  line-height:calc(40px + (50 - 40) * ((100vw - 320px) / (1920 - 320)));
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}
.inner-wolf-bestell .s-wrap {
  max-width: 700px;
  position: relative;
  margin-top: -30px;
}
.inner-wolf-bestell h4 {
  font-size: 2rem;
  line-height: 2rem;
}
  
}
@media screen and (max-width: 1919px) and (min-width: 1681px)  {
  .curywolf-catering-box {
    max-width: 1000px;
    justify-content: center;
    padding-bottom: 390px;
    border-top: 1px solid #fff;
    padding-top: 70px;
  }
  .inner-wolf-bestell {
    gap: 10px;
}
.inner-wolf-bestell .left-content h1{
  font-size: calc(16px + (95 - 30)*((100vw - 320px) / (1920 - 320)));
  line-height: calc(18px + (95 - 40)*((100vw - 320px) / (1920 - 320)));
  margin-bottom: 0rem;
  margin-top: 1rem;
}
  .img-big-wrap {
    width: calc(100% / 3 - 30px);
  }
  .inner-wolf-bestell h4 {
    max-width: 38rem;
    font-size: 2.2rem;
    line-height: 2.2rem;
}
.inner-wolf-bestell .s-wrap img.naturlich-image {
  width: 108.88px;
  height: 108.18px;
  bottom: -22px;
  bottom: -120px;
  right: 83px;
}

}
@media screen and (max-width: 1919px) and (min-width: 1680px)  {
  .inner-wolf-bestell .right-logo img {
    width: 7.978rem;
    height: 7.186rem;
    position: absolute;
    left: -43px;
    top: 30px;
}
}

@media (max-width: 1440px) {
  .inner-wolf-bestell .right-logo {
    margin-bottom: 65px;
    width: 100%;
  }
  .left-content {
    max-width: 80.97vw; 
  }
  .inner-wolf-bestell h4 {
    max-width: 86.22vh;
    font-size: 2rem;
    line-height: 1.98rem;
}
  .inner-wolf-bestell-wrap {
    min-height: calc(100vh - 221px);
  }
  .inner-wolf-bestell .s-wrap .img-one {
    padding-bottom: 10px;
   }
  .inner-wolf-bestell .s-wrap {
    max-width: 755px;
    margin-top: 0px;
  }
  .inner-wolf-bestell .right-logo img{
    left: -13px;
    width: 4.978rem;
    height: 5.186rem;
    top: 28px;
  }
  .inner-wolf-bestell .s-wrap img.naturlich-image{
    width: 76.88px;
    height: 76.18px;
    bottom: -45px;
  }
  .inner-wolf-bestell h3{
    font-size: 16px;
    line-height:20px;
    max-width: 53rem;
  }
  .inner-wolf-bestell{
    gap: 0px;
  }
  .logo-box img {
    width: 70%;
  }

  .curywolf-catering-box .img-big-wrap:nth-child(7) a {
    transform: translate(19%, -8%);
  }

  .logo-box:nth-child(1) img {
    width: auto;
  }

  .img-one .inner-content p {
    font-size: 20px;
    line-height: 22px;
  }

  .curywolf-catering-box {
    padding-bottom: 410px;
  }

  .curywolf-catering-box .img-big-wrap:nth-child(7) a {
    transform: translate(74%, 17%);
  }

  .curywolf-catering-box {
    max-width: 1100px;
  }
}
@media (max-width: 1380px) {
  .left-content {
    max-width: 85.38vw;
  }
  .inner-wolf-bestell .s-wrap .img-one {
    padding-bottom: 18px;
}
.main-catering-page .food-decorative-garland{
  margin-top:-100px !important;
}
.inner-wolf-bestell .right-logo img{
  left: 140px;
  width: 6.978rem;
  height: 6.186rem;
  top: 37px;
}

}


@media (max-width: 1200px) {
  .inner-wolf-bestell .right-logo img {
    top: 30px;
    left: 34px;
    width: 4.978rem;
    height: 6.186rem;
  }
  .brandenburg .brand-left {
    padding-right: 40px;
  }
  .inner-wolf-bestell h3 {
    max-width: 43rem;
}
  .white-box-content {
    font-size: 26px;
    line-height: 30px;
  }

  .img-one .inner-content p {
    font-size: 16px;
    line-height: 16px;
  }

  .curywolf-catering-box {
    padding-bottom: 300px;
  }

  .ref-title h4 {
    font-size: 14px;
    line-height: 14px;
  }

  .img-one:before {
    width: 40px;
  }

  .curywolf-catering-box .img-big-wrap:nth-child(2) .img-one:before,
  .curywolf-catering-box .img-big-wrap:nth-child(3) .img-one:before,
  .curywolf-catering-box .img-big-wrap:nth-child(5) .img-one:before {
    width: 40px;
  }

  .ref-wrap {
    gap: 55px;
  }
}
@media screen and (max-width: 1379px) and (min-width: 1201px)  {
  .inner-wolf-bestell .right-logo img {
    left: 0px;
    width: 9.978rem;
    height: 4.186rem;
    top: 43px;
}
.inner-wolf-bestell .s-wrap {
  max-width: 550px;
  margin-top: 0px;
}
.inner-wolf-bestell .s-wrap img.naturlich-image {
  width: 63.88px;
  height: 63.18px;
  bottom: -66px;
  right: 20px;
}
.inner-wolf-bestell .left-content h1 {
  font-size: calc(32px + (40 - 30)*((100vw - 320px) / (1920 - 320)));
  line-height: calc(40px + (40 - 40)*((100vw - 320px) / (1920 - 320)));
}
.inner-wolf-bestell h4 {
  max-width: 55.22vh;
  font-size: 1rem;
  line-height: 1rem;
}
}
@media (max-width: 1100px) {
  .inner-wolf-bestell .right-logo img {
    top: 28px;
    left: 2px;
    width: 4.978rem;
    height: 5.186rem;
  }
}

@media (max-width: 1024px) {
  .inner-wolf-bestell {
    margin-bottom: 0px;
  }
      .inner-wolf-bestell h3 {
        max-width: 42rem;
    }

  .brand-left h2 {
    margin-bottom: 30px;
  }

  .c-brand-content {
    padding: 88px 0 50px;
  }

  .brandenburg {
    padding-bottom: 70px;
  }

  .ref-wrap {
    gap: 30px;
  }

  .logo-box {
    width: calc(100% / 2);
  }

  .faq-sec .faq-left a {
    font-size: 16px;
  }

  .logo-box img {
    width: auto;
    max-height: 100px;
  }

  .inner-wolf-bestell .right-logo img {
    width: 87px;
    left: 0px;
    top: 28px;}

  .b-btn-wrap a {
    font-size: 16px;
    min-width: 236px;
  }

  .c-brand-content {
    padding: 50px 0 50px;
  }

  .wolf-logo {
    padding: 50px 0 30px;
  }

  .inner-wolf-bestell a.yellow-btn {
    font-size: 16px;
  }

  .img-one {
    padding: 10px 10px 5px 10px;
  }
  /* .main-catering-page .food-decorative-garland {
    margin-top: -70px !important;
} */
.main-catering-page .food-decorative-garland {
  margin-top: -30px !important;
}

  .inner-content {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .curywolf-catering-box .img-big-wrap:nth-child(1) a {
    transform: translate(-3%, 1%);
  }
  .inner-wolf-bestell .s-wrap {
    max-width: 755px;
    margin-top: -10px;
}
}
@media screen and (max-width: 960px) and (min-width: 820px) {
  .inner-wolf-bestell .right-logo img {
    left: 10px;
    top: 34px;
}
.inner-wolf-bestell .s-wrap {
  max-width: 90.14vw;
}
.inner-wolf-bestell{
  gap: 35px;
}
}
@media screen and (max-width: 819px) and (min-width: 768px) {
  .inner-wolf-bestell h3 {
    max-width: 43rem;
}
.inner-wolf-bestell{
  gap: 38px;
}
.inner-wolf-bestell .s-wrap{
  margin-top: 20px;
}
.inner-wolf-bestell .s-wrap img.naturlich-image{
  width: 72px;
  right: 14px;
  bottom: -50px;
  height: 95.18px;
}
.inner-wolf-bestell .right-logo{
  margin-bottom: 5px;
}
.inner-wolf-bestell .right-logo img {
  width: 100px;
  left: 6px;
  top: 38px;
}
/* .main-catering-page .food-decorative-garland {
  margin-top: -50px !important;
} */
.main-catering-page .food-decorative-garland {
  margin-top: 20px !important;
}
.inner-wolf-bestell .s-wrap {
  max-width: 78.14vw;
}
  }
@media (max-width: 767px) {
  /* .main-catering-page .food-decorative-garland {
    margin-top: -38px !important;
} */
.main-catering-page .food-decorative-garland {
  margin-top: 30px !important;
}
  .inner-wolf-bestell {
    margin-top: 0px;
}
  .main-catering-page .container {
    overflow: hidden;
  }
  .inner-wolf-bestell h3 {
   display: none;
}
.inner-wolf-bestell .s-wrap .c-s-image-section {
  
    margin: 10px auto 20px;
}
  .c-bottom-btn {
    margin-bottom: 20px;
    text-align: center;
  }

  .more-img-text {
    display: block;
  }

  .brandenburg {
    flex-wrap: wrap;
  }

  .brandenburg .brand-left {
    width: 100%;
    padding-right: 0;
  }

  .c-brand-content p:nth-child(even) {
    padding-bottom: 30px;
  }

  .c-brand-content {
    padding: 30px 0 0;
  }

  .brandenburg .brand-right {
    width: 100%;
  }

  .c-brand-content .b-btn-wrap {
    margin-bottom: 30px;
  }

  .ref-wrap {
    flex-wrap: wrap;
    gap: 15px;
  }

  .ref-title {
    margin-top: 15px;
  }

  .wolf-logo {
    padding: 30px 0 0;
  }

  .faq-sec {
    padding: 30px 0 10px;
    flex-direction: column;
    text-align: center;
  }

  .faq-sec .faq-left {
    width: 100%;
  }

  .faq-sec .faq-right {
    width: 100%;
    padding-top: 40px;
  }


  .faq-sec .faq-left h3 {
    margin-bottom: 30px;
  }

  .accordion {
    text-align: left;
  }

  .ref-box {
    max-width: initial;
    padding: 10px;
  }

  .reference {
    padding: 40px 0;
    border-top: 0;
  }

  .wolf-logo {
    flex-wrap: wrap;
    /* border-bottom: 0; */
  }

  .wolf-logo .w-left-content,
  .wolf-logo .w-right-logo {
    width: 100%;
  }

  .wolf-logo .w-left-content {
    margin-bottom: 36px;
    text-align: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 25px;
  }

  .brandenburg .brand-left .b-btn-wrap {
    margin-bottom: 30px;
  }

  .logo-box {
    width: calc(100% / 5);
    text-align: center;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .wolf-logo .w-right-logo {
    margin-bottom: 20px;
  }

  .logo-box img {
    width: 80%;
  }

  .left-content {
    text-align: center;
    max-width: initial !important;
  }

  .inner-wolf-bestell {
    justify-content: center;
    padding: 0px 0px 0px;
  }

  .logo-box:nth-child(1) img {
    width: 50%;
  }

  .wolf-logo .w-left-content h3 {
    font-family: 'RubikOne-Regular';
    margin: 0 0 10px 0;
  }

  .wolf-logo .w-left-content p {
    font-family: 'Neue-Haas-Grotesk-Display-Pro';
  }

  .yellow-btn {
    font-size: 14px;
    border-radius: 5px;
  }

  .img-big-wrap {
    width: calc(100% / 2);
  }

  .curywolf-catering-box .img-big-wrap:nth-child(1) a {
    transform: translate(100%, 112%);
  }

  .curywolf-catering-box .img-big-wrap:nth-child(1) {
    z-index: 99;
  }

  .img-big-wrap:nth-child(1) .img-one {
    transform: rotate(6deg);
  }

  .curywolf-catering-box .img-big-wrap:nth-child(2) .img-one {
    transform: rotate(6deg);
  }

  .curywolf-catering-box .img-big-wrap:nth-child(2) a {
    transform: translate(-111%, 9%);
  }

  .curywolf-catering-box .img-big-wrap:nth-child(3) a {
    transform: translate(102%, -90%);
    z-index: 0;
  }

  .curywolf-catering-box .img-big-wrap:nth-child(3) {
    z-index: 99;
  }

  .curywolf-catering-box .img-big-wrap:nth-child(5) {
    z-index: 99;
  }

  .curywolf-catering-box .img-big-wrap:nth-child(3) .img-one {
    transform: rotate(-10deg);
  }

  .curywolf-catering-box .img-big-wrap:nth-child(4) a {
    display: none;
  }

  .curywolf-catering-box .img-big-wrap:nth-child(5) .img-one {
    transform: rotate(-7deg);
  }

  .curywolf-catering-box .img-big-wrap:nth-child(5) a {
    transform: translate(-110%, 10%);
  }

  .curywolf-catering-box .img-big-wrap:nth-child(6) {
    z-index: 99;
  }

  .curywolf-catering-box .img-big-wrap:nth-child(6) a {
    transform: translate(-49%, 13%);
    z-index: 9999;
  }

  .curywolf-catering-box .img-big-wrap:nth-child(2) {
    z-index: 99;
  }

  .curywolf-catering-box .img-big-wrap:nth-child(6) .img-one {
    transform: rotate(-13deg);
  }

  .curywolf-catering-box .img-big-wrap:nth-child(7) a {
    transform: translate(-109%, -40%);
  }

  .curywolf-catering-box .img-big-wrap:nth-child(4) {
    display: none;
  }

  .curywolf-catering-box .img-big-wrap:nth-child(7) .img-one {
    transform: rotate(-10deg);
  }

  .right-logo {
    display: none;
  }

  .inner-wolf-bestell h3 {
    margin: 0 0 30px 0;
  }
  .inner-wolf-bestell .s-wrap .img-one {
    padding: 10px 10px 7px 10px;
}
.inner-wolf-bestell .s-wrap .img-big-wrap:nth-child(1) .img-one{
  margin-top: 0px;
}

  .img-one .inner-content p {
    font-family: 'BertholdBlock';
    font-weight: 400;
  }


  .curywolf-catering-box {
    padding-bottom: 0px;
    border-bottom: 0;
    max-width: 92%;
    margin: 0 auto;
    padding-top: 30px;
  }



  .more-img-text {
    max-width: 140px;
    margin: 0px auto;
    text-align: center;
  }

  .more-img-text p {
    font-size: 13px;
    line-height: 15px;
    font-family: 'Chivo-Regular';
    margin-top: 60px;
  }

  .reference h3 {
    margin: 0 0 20px 0;
    text-align: center;
  }

  .wolf-logo .w-left-content svg {
    width: 26px;
    height: 26px;
  }

  .curywolf-catering-box .img-big-wrap:nth-child(2) .img-one:before,
  .curywolf-catering-box .img-big-wrap:nth-child(3) .img-one:before,
  .curywolf-catering-box .img-big-wrap:nth-child(5) .img-one:before {
    width: 40px;
  }

  .img-one:before {
    width: 40px;
  }

  .ref-wrap {
    display: flex;
    transition: transform 0.3s ease;
    flex-wrap: nowrap;
  }

  .ref-slider {
    overflow: hidden;
    width: 100%;
    position: relative;
  }

  .ref-box {
    min-width: 50%;
    box-sizing: border-box;
    padding: 10px;
    margin: 0px;
    background-color: #ff3e34;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .slider-buttons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  .slider-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  .inner-wolf-bestell .right-logo img {
    width: 109px;
    left: 6px;
    top: -40px;
}
.inner-wolf-bestell-wrap .inner-wolf-bestell {
  transform: scale(.80);
  transform-origin: top;
}
}
@media (max-width: 575px) {
  /* .main-catering-page .food-decorative-garland {
    margin-top: -23px !important;
} */
.inner-wolf-bestell .s-wrap .c-s-image-section {
  margin: 10px auto 74px;
}
  .inner-wolf-bestell {
    flex-wrap: wrap;
  }
  .inner-wolf-bestell h4 {
    font-size: 1.6rem;
    line-height: 1.6rem;
  }
  .inner-wolf-bestell .s-wrap img.naturlich-image{
    right: 0px;
    width: 70px;
    bottom: 6px;
    height: 70.18px;
  }
  .inner-wolf-bestell h3 {
    margin: 0 0 25px 0;
  }
  .inner-wolf-bestell .right-logo img{
    width: 70px;
    top: -19px;
    left: 9px;
  }
}
@media only screen and (max-width: 390px) and (max-height: 844px) and (min-device-pixel-ratio: 3) {
  .inner-wolf-bestell h4 {
    font-size: 1.3rem;
    line-height: 1.5rem;
  }

  .img-one {
    width: 80%;
    height: 100%;
  }
}
@media screen and (max-width: 428px) {
  .inner-wolf-bestell .s-wrap {
    max-width: 290px;
    margin-top: -32px;
}
.inner-wolf-bestell h4 {
  font-size: 16px;
  line-height: 16px;
}
}

@media (max-width: 390px) {
  .inner-wolf-bestell .left-content h1 {
    font-size: 24px;
    line-height: 25px;
  }
  .inner-wolf-bestell .s-wrap img.naturlich-image {
    right: 0px;
    bottom: 6px;
    height: 79.18px;
}
.inner-wolf-bestell .s-wrap .c-s-image-section {
  margin: 10px auto 70px;
}
.inner-wolf-bestell h4 {
  max-width: 86.22vh;
  font-size: 16px;
  line-height: 16px;
}

}

@media (max-width: 375px) {
  .img-one {
    width: 110px;
  }
  .inner-wolf-bestell .s-wrap .c-s-image-section {
    margin: 10px auto 78px;
}
.img-one .inner-content p {
  font-size: 12px;
  line-height: 12px;
}
  .inner-wolf-bestell{
    margin-top: 20px;
  }
  .inner-wolf-bestell .right-logo img {
    width: 55px;
    top: -26px;
}
.inner-wolf-bestell {
  gap: 0px;
}
.inner-wolf-bestell .s-wrap img.naturlich-image{
  right: -9px;
  width: 68.88px;
  height: 68.18px;
}
.inner-wolf-bestell h4 {
  font-size: 1rem;
  line-height: 1rem;
}
}

@media (max-width: 360px) {
  .inner-wolf-bestell .right-logo img {
    width: 50px;
    top: -19px;
    left: -10px;
}
}
@media (max-width: 320px) {

.inner-wolf-bestell .s-wrap img.naturlich-image{
  right: 0px;
  width: 53.88px;
  height: 53.18px;
}

.inner-wolf-bestell .s-wrap {
  margin-top: -40px;
}
.inner-wolf-bestell .right-logo img {
  width: 50px;
  top: -24px;
  left: -9px;
}
.inner-wolf-bestell .s-wrap .c-s-image-section {
  margin: 10px auto 46px;
}
.img-one {
  width: 70px;
}
.inner-wolf-bestell .s-wrap .img-one{
  padding-bottom: 0px;
}
.inner-wolf-bestell .s-wrap .img-big-wrap {
  width: 40%;
}
.img-one .inner-content p {
  font-size: 8px;
  line-height: 8px;
}

html[lang="nl"] .inner-wolf-bestell .right-logo img {
  width: 70px;
  top: -32px;
}

}
